:root {
    /*color font*/
    --color-font-label: rgb(0, 0, 0);
    --color-font-textarea: rgb(255, 255, 255);
    --color-font-outform: rgb(178, 178, 178);
    /*color textarea*/
    --color-textarea-normal: rgb(211, 211, 211);
    --color-textarea-hover: rgb(162, 218, 186);
    --color-textarea-focus: rgb(42, 104, 80);
    /*color area*/
    --color-form-area: rgb(171, 185, 195);
    --color-div: rgb(119, 136, 153);
    /*button forms*/
    --color-button: rgb(42, 104, 80);
    --color-button-hover: rgb(100, 185, 148);
    --color-button-focus: rgb(60, 215, 148);
}
/*form container*/
.form-title-container {
    text-align: center;
    background-color: var(--color-div);
    color: var(--color-font-outform);
    text-shadow: 0 0 3px var(--color-font-label);
    padding: .5em;
}
.form-flow {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
    background: url('../img/miami-form.jpg') no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.form-container {
    text-align: center;
    box-sizing: border-box;
    width: 500px;
    background-color: var(--color-form-area);
    padding: 1rem;
    line-height: 1.5em;
    border-right: .3em solid var(--color-div);
    border-left: .3em solid var(--color-div);
}
/*textarea*/
.form-textarea {
    width: 100%;
    border: .2em solid var(--color-font-textarea);
    background-color: var(--color-textarea-normal);
    padding: .3em;
    resize: none;
    color: var(--color-font-label);
    transition: all .5s ease-in-out;
}
.form-textarea:hover {
    background-color: var(--color-textarea-hover);
}
.form-textarea::placeholder{
    color: var(--color-font-label);
    transition: all .5s ease-in-out;
}
.form-textarea:focus {
    background-color: var(--color-textarea-focus);
    color: white;
}
.form-textarea:focus::placeholder {
    color: white;
}
/*button form send*/
.btn-form {
    width: 100%;
    padding: 1em 0em;
    color: var(--color-font-textarea);
    background-color: var(--color-button);
    border: .2em solid var(--color-font-label);
}
.btn-form:hover {
    color: var(--color-font-label);
    background-color: var(--color-button-hover);
}
.btn-form:focus {
    background-color: var(--color-button-focus);
    color: var(--color-font-label);
    border-color: var(--color-textarea-normal);
}
/*form footer*/
.form-footer-container {
    padding: .5em 0em;
    text-align: center;
    background-color: var(--color-div);
    color: var(--color-font-outform);
    text-shadow: 0 0 3px var(--color-font-label);
}
@media screen and (max-width:900px) and (orientation: landscape) {
    .form-flow {
        justify-content: right;
    }
    .form-container {
        border-right: none;
    }
    .form-title-container {
        text-align: right;
        padding-right: 11em;
    }
    .form-footer-container {
        text-align: right;
        padding-right: 3em;
    }
}