*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-form-color: white;
    --font-form-family: black;
    --font-outsider-size: 1.5rem;
    --btn-summit-color: rgb(77, 129, 88);
    --color--btn-setting-hover-color: rgb(4, 156, 131);
    --color-background-main: rgb(171, 185, 195);
    --color-background-gradient: rgb(119, 136, 153);
    --color-form-cotainer: rgb(162, 218, 186);
    --color-div-form: rgb(42, 104, 80);
    --color-btn-form-border: white;
}
/*Forms*/
.wrapper-main-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-background-main);
}
.main-sec {
    width: 850px;
    height: 100%;
    padding: .5em 0em;
}
.div-container-direction {
    display: flex;
    justify-content: center;
    width: inherit;
    margin: 1rem 0rem;
    font-size: var(--font-outsider-size);
}
.div-container-form {
    display: flex;
    justify-content: center;
    width: inherit;
    background-color: var(--color-form-cotainer);
    border-radius: 2rem;
}
.div-fly-form{
    background-color: var(--color-div-form);
    margin: 0.6em .5em;
    padding: 1em 1em;
    line-height: 2rem;
    color: white;
    border-radius: 1.5rem;
    max-width: 1000px;
}
@media screen and (max-width:635px) {
    .main-sec {
        width: 350px;
    }
    .div-container-form {
        width: 335px;
    }
    .div-fly-form {
        width: 300px;
    }
}
.div-fly-way {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.fly-form-button {
    color: white;
    background-color: var(--color-div-form);
    padding: .5rem .7rem;
    border: .05rem ridge var(--color-btn-form-border);
    border-radius: 1.5rem;
    margin: .5rem 0rem;
    transition: all .5s;
}
.fly-form-button:hover {
    border: 0.05rem ridge var(--btn-summit-color);
    background-color: var(--color-btn-form-border);
    color: var(--btn-summit-color);
}
.div-fly-form .fly-input {
    border-radius: 5px;
    border: .2em solid white;
    padding: .3rem .15rem;
    padding-left: 1.5rem;
    margin: .6rem 0rem;
}
.div-fly-form .fly-input:focus {
    border-color: var(--btn-summit-color);
}
#Fly-destiny {
    background-image: url(../img/bx-map.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 95%;
}
@media screen and (min-width:635px) {    
    #Fly-destiny {
        width: fit-content;
    }
}
#Fly-in {
    background-image: url(../img/bx-calendar-plus.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 8.5rem;
}
#Fly-out {
    background-image: url(../img/bx-calendar-minus.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 8.5rem;
}
#Fly-adult {
    background-image: url(../img/bx-male.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 7rem;
}
#Fly-young {
    background-image: url(../img/bx-child.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 7rem;
}
#Fly-class {
    background-image: url(../img/bx-user.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.fly-form-setting {
    background-color: var(--btn-summit-color);
    padding: .8rem;
    color: white;
    padding-left: 1.8rem;
    border: 0.4rem solid var(--btn-summit-color);
    border-radius: 1.5rem;
}
.fly-form-setting:hover {
    background-color: var(--color--btn-setting-hover-color);
    border-color: var(--color--btn-setting-hover-color);
    transition: all .5s;
}
#Fly-form-summit {
    background-image: url(../img/bx-search.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Fly-form-reset {
    background-image: url(../img/bx-reset.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Fly-in-out-form {
    display: none;
}
/*Result number*/
.sec-result-obtained {
    display: flex;
    justify-content: center;
    background-color: var(--color-background-main);

}
.div-result-obtained {
    width: fit-content;
    font-size: var(--font-outsider-size);
    margin: .5rem;
    background-color: var(--color-form-cotainer);
    padding: 1rem;
    border-radius: .85rem;
}
/*result*/
.result-sec {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    background-image: linear-gradient(var(--color-background-main), var(--color-background-gradient));
    background-repeat: no-repeat;
}
.div-result-do {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    min-height: 400px;
    color: black;
    border: .5em solid rgb(169, 189, 215);
    background-color: rgb(187, 216, 255);
}
.result-show {
    min-width: 300px;
    border: .5em solid rgb(169, 189, 215);
}
@media screen and (min-width:635px) {    
    .div-result-do {
        min-width: 600px;
    }
    .result-show {
        min-width: 600px;
    }
}
.query-result {
    background-color: white;
    border-top: 5px black solid;
}
.upperrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.upperrow div, .lowerrow div {
    padding: .75rem;
}
.upperrow > .fly-name {
    background-color: var(--color-background-gradient);
    color: var(--font-form-color);
    border-radius: 0rem 0rem .75rem 0rem;
}
.lowerrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-form-cotainer);
}
.date-result {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media screen and (min-width:635px) {
    .date-result {
        width: 60%;
    } 
}
.btn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: .75rem;
    background-color: var(--color-div-form);
}
.btn-reservar {
    color: var(--font-form-color);
    background-color: var(--btn-summit-color);
    padding: 1rem;
    border: .15rem solid var(--color-btn-form-border);
    border-radius: 1rem;
    transition: all .5s;
}
.btn-reservar:hover {
    background-color: var(--color--btn-setting-hover-color);
}
div.test {
    width: 1000px;
    height: 100px;
    background-image: linear-gradient(to right, gray, white);
    animation-name: load-ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes load-ani {
    0% { }
}