* {
    box-sizing: border-box;
}
.result-sec {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    background-color: rgb(166, 176, 201);
}
.div-result-do {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    min-height: 400px;
    color: black;
    border: .5em solid rgb(169, 189, 215);
    background-color: rgb(187, 216, 255);
}
.result-show {
    min-width: 300px;
    border: .5em solid rgb(169, 189, 215);
}
@media screen and (min-width:635px) {    
    .div-result-do {
        min-width: 600px;
    }
    .result-show {
        min-width: 600px;
    }
}
.query-result {
    background-color: white;
    padding: 0rem 1rem;
    border-top: 5px black solid;
}
.upperrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.lowerrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.date-result {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0.4rem;
}